{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container my-4">
    <center><h2>Update Employee</h2></center>
  <div class="content">
   
    <form action="/update/{{emp.id}}" method="POST">
        <input type="text" class="form-control" name="content" id="content" value="{{emp.firstname}}"> 
        <input type="submit" class="btn btn-success my-2" value="Update">
    </form>
  </div>
  <a class="btn btn-primary" href="/">Home</a>
</div>
{% endblock %}